@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin:auto;
    background: #333;
    overflow-x: hidden !important;
  }
  
  html {
    scrollbar-color: #474747 #292828;
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 10px;
  }
  html::-webkit-scrollbar-track {
  background-color: #131313;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #474747;
  }
  html::-webkit-scrollbar-thumb:hover {
    background-color: #636262;
  }
  .ani-pp {
    margin:0;
    background-color: #333;
    width: 100%;
    height:100vh;
    opacity: 1;
    display: flex;
    justify-content: center;
    overflow-x: hidden !important;
  }
  .ani-p {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    overflow-x: hidden !important;
  }
  .ani-vp {
    opacity: 0;
    background-image: url('bgbmain.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    animation: anivpchange 4s forwards;
  }
  @media screen and (max-width: 850px) {
    .ani-vp {
    background-image: url('bgbmobile.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    overflow: visible;
    }
  }
  .ani-p .bg {
    display: none;
    opacity: 0.7;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    pointer-events: none;
    animation: aniimgchange 4s forwards;
    z-index: -3;
  }
  @keyframes anivpchange {
    0% {opacity: 0.1; visibility: hidden;}
    40% {opacity: 0.1; visibility:visible;}
    100% {opacity: 0.7;}
  }
  @keyframes aniimgchange {
    0% {opacity: 0.1; visibility: hidden;}
    40% {opacity: 0.1; visibility:visible;}
    100% {opacity: 0.7;}
  }
  .typer-pp {
    display: flex;
    width:auto;
    height: auto;
    margin:0;
    position: absolute;
    align-items: center;
  }
  .typer-p {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    color: #b2b2bf;
    font-size: 1vw;
    overflow: hidden;
    font-family: monospace;
    white-space: nowrap;
    letter-spacing: .15em;
    font-weight: 700;
  }
  .typer-p-r {
    border-right: .15em solid #3d60db;
    animation:
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
      animation-fill-mode: forwards;
  }
  .tip{
    margin:0;
    height:inherit;
    }
  
    @keyframes typing {
      0% { width: 0}
      100% { width: 100%}
    }
    @keyframes blink-caret {
      from, to { border-color: transparent}
      50% { border-color: #3d60db}
    }
  
    @keyframes heaven-effect1 {
        0% {text-shadow: none; opacity: 1; transform: translateY(0px);}
        8% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: inherit; }
        12% {text-shadow: none;}
        25% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        36% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        50% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        90% {text-shadow: 4px 1px #8762e3 , -1px -5px #626fe3; color: transparent; transform: translateY(-26px) translateX(-3px);}
        100% {text-shadow: 4px 1px #8762e3 , -1px -5px #626fe3; color: transparent; transform: translateY(-26px) translateX(-3px); opacity: 0;}
    }
    @keyframes heaven-effect2 {
        0% {text-shadow: none; opacity: 1; transform: translateY(0px);}
        8% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: inherit; }
        12% {text-shadow: none;}
        25% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        36% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        50% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        90% {text-shadow: 4px 1px #8762e3 , -1px -5px #626fe3; color: transparent; transform: translateY(-32px) translateX(3px);}
        100% {text-shadow: 4px 1px #8762e3 , -1px -5px #626fe3; color: transparent; transform: translateY(-32px) translateX(3px); opacity: 0;}
    }
    @keyframes heaven-effect3 {
        0% {text-shadow: none; opacity: 1; transform: translateY(0px);}
        8% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: inherit; }
        12% {text-shadow: none;}
        25% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        36% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        50% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        90% {text-shadow: 4px 1px #8762e3 , -1px -5px #626fe3; color: transparent; transform: translateY(-43px) translateX(3px);}
        100% {text-shadow: 4px 1px #8762e3 , -1px -5px #626fe3; color: transparent; transform: translateY(-43px) translateX(3px); opacity: 0;}
    }
    @keyframes heaven-effect4 {
        0% {text-shadow: none; opacity: 1; transform: translateY(0px);}
        8% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: inherit; }
        12% {text-shadow: none;}
        25% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        36% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        50% {text-shadow: 1px 2px #8762e3 , -2px -1px #626fe3; color: transparent; }
        90% {text-shadow: 4px 1px #8762e3 , -1px -5px #626fe3; color: transparent; transform: translateY(-18px) translateX(-3px);}
        100% {text-shadow: 4px 1px #8762e3 , -1px -5px #626fe3; color: transparent; transform: translateY(-18px) translateX(-3px); opacity: 0;}
    }
  
  

  
  .loadbar {
  opacity: 0;
  margin:1px;
  background: transparent;
  width: 32vw;
  height:50px;
  border-bottom: 1px solid black;
  position: absolute;
  transform: scaleX(0);
  transform-origin: center;
  box-shadow: 0px 1px  rgba(255, 255, 255, 0.438);
  animation-name: hide;
  animation-fill-mode: forwards;
  animation-duration: 4.8s;
  animation-delay: 2.3s;
  transition: 0.3s;
  }
  @keyframes hide {
    0% {opacity: 0; transform: scaleX(0);}
    10% {opacity: 0.9; transform: scaleX(1);}
    90% {opacity: 0.9; transform: scaleX(1);}
    100% {opacity: 0; transform: scaleX(0);}
  }
  .loader {
  opacity: 0.9;
  position: relative;
  margin-top:50px;
  width:0%;
  height:3px;
  background: linear-gradient(to right, #8762e3, #626fe3);
  animation-name: loadani;
  animation-duration: 2.2s;
  animation-delay:3.1s;
  animation-fill-mode: forwards;
  }
  
  
  @media  screen and (max-width:850px) {
    .loadbar {width:58vw;}
    .tip {font-size: 2vw;}
  
  }
  
  
  
  
  @keyframes lb-gone {
    to {opacity: 0; transform: scaleX(0);}
  }
  @keyframes loadani {
    0% {width:0%;}
    1% {width:2%;}
    20% {width:25%;}
    50% {width:50%;}
    65% {width:90%;}
    80% {width:95%;opacity: 0.9}
    100% {width:100%; opacity: 0.6}
  }
  
  .loading-h {
    position: absolute;
    margin-right: auto;
    margin-left:auto;
    border: 16px solid #4a4949;
    border-top: 16px solid #6e6d6d;
    margin-top:-50px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 1;
    visibility: hidden;
    animation:
    spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .synerr {
    text-align: center;
    overflow: hidden;
    position: absolute;
    margin-top: -45px;
    color: #ed2b2b;
    font-size: 3.5vmin;
    font-family: monospace;
    white-space: nowrap;
    letter-spacing: .15em;
    z-index: 1;
    visibility: hidden;
  }
  @keyframes sync {
    0% { transform: scale(1) }
    30% { transform: scale(1.1) }
    100% { transform: scale(1) }
  }
  .ani-img {
    opacity: 1;
    margin-top: -150px;
    position: absolute;
    width:300px;
    height:300px;
    z-index: 1;
    visibility: hidden;
  }
  .pdot-pp {
    visibility: hidden;
    width:100%;
    height: 100%;
    margin:0;
    position: absolute;
    align-items: center;
    }
    .pdot-p {
      width: 60vw;
      height: auto;
      background: url('background.png');
      opacity: 0.9;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      border-bottom-left-radius: 50% 15%;
      border-bottom-right-radius: 50% 15%;
      animation: header 20s ease infinite;
      margin: auto;
      margin-top:-80px;
      padding: 25px;
      position: relative;
      text-align: center;
      z-index: 0;
    }
    .ufo {
      transform: rotate(-4deg);
      top:25vh;
      display: none;
      opacity: 0;
      text-align: center;
      position: absolute;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 6vmin;
      animation: ufofade 4100ms forwards;
  }
  @keyframes ufofade {
    0% {opacity: 0;transform: translateY(-25vh) translateX(-100px) rotate(90deg);}
    10% {opacity: 0.4;transform: translateY(-0px) translateX(0px) rotate(-4deg);}
    80% {opacity: 0.4;transform: translateY(-0px) translateX(0px) rotate(-4deg);}
    90% {opacity: 0.4;transform: translateY(-0px) translateX(0px) rotate(9deg);}
    100% {opacity: 0; transform: translateY(-51vh) translateX(380px);}
  
  }
    .ph1 {
        cursor: default;
        display: inline-flex;
        opacity: 1;
        text-align: center;
        position: relative;
        margin: 0;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 1em;
        font-size: 6vmin;
        letter-spacing: 1px;
    }
    .ph2 {
        cursor: default;
        display: inline-flex;
        position: relative;
        opacity: 1;
        text-align: center;
        margin: 0;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 2em;
        font-size: 3vmin;
        letter-spacing: 1px;
    }
    .ph1:nth-child(11) span,
    .ph1:nth-child(1) span {
      transition: 1s;
      transform-origin: left;
  } 
    .ph1:nth-child(11):hover,
    .ph1:nth-child(11):hover span,
    .ph1:nth-child(1):hover,
    .ph1:nth-child(1):hover span{
      color: transparent;
      transform:rotate(-5deg);
  }
  .ph1:nth-child(3):hover,
  .ph1:nth-child(3):hover span,
  .ph1:nth-child(8):hover,
  .ph1:nth-child(8):hover span{
      color: transparent;
      transform:rotate(4deg);
  }
  .ph1:nth-child(8) span {
    transition: 1s;
    transform-origin: right;
  }
  .ph1:nth-child(6) span{
    transition-duration:0.4s;
    transition-delay: 0s;
  }
  .ph1:nth-child(6):hover span {
    transition-delay: 0.8s;
    animation: ufo 3s forwards;
    color: transparent;
  }
  @keyframes ufo {
    0% {opacity: 1; transform: scaleY(1) scaleX(1) translateY(0vh) rotate(0deg);}
    16% {opacity: 0.8; transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(-2deg);}
    18% {opacity: 0.8; transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(2deg);}
    20% {opacity: 0.8; transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(-2deg);}
    22% {opacity: 0.8; transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(2deg);}
    24% {opacity: 0.8; transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(-2deg);}
    26% {opacity: 0.8; transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(2deg);}
    30% {opacity: 0.8; transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(-3deg);}
    35% {opacity: 0.8; transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(3deg);}
    40% {opacity: 0.8; text-shadow: 3px 2px rgba(186, 95, 204, 0.603), -4px -2px rgba(157, 247, 253, 0.685); transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(-3deg);}
    45% {opacity: 0.8; text-shadow: 3px 2px rgba(186, 95, 204, 0.603) , -4px -2px rgba(157, 247, 253, 0.685); transform: scaleY(0.8) scaleX(0.6) translateY(-2vh) rotate(0deg);}
    90%  {opacity: 0.4; text-shadow: 3px 2px rgba(186, 95, 204, 0.603), -4px -2px rgba(157, 247, 253, 0.685); transform: scaleY(0.8) scaleX(0.4) translateY(-5vh);}
    100%  {opacity: 0; text-shadow: 3px 2px rgba(186, 95, 204, 0.603), -4px -2px rgba(157, 247, 253, 0.685); transform: scaleY(1) scaleX(0.1) translateY(-11vh);}
  }
    .ph1 span {
        position: relative;
        overflow: visible;
        animation: lilg 2500ms infinite;
    }
    .ph2 span {
        position: relative;
        overflow: visible;
        animation: lilg 2500ms infinite;
    }
    .ph1:hover span{
        color: #bac7d9;
        animation: 0.8s glitch infinite;
        box-shadow: none;
    }
    .ph1:nth-child(9):hover span,
    .ph1:nth-child(5):hover span,
    .ph1:nth-child(2):hover span{
      color: #bac7d9;
      animation: 0.8s glitch-flip infinite;
      box-shadow: none;
  }
    .ph2:hover span {
        color: #bac7d9;
        animation: 0.8s glitch-s infinite;
        box-shadow: none;
    }
    @keyframes glitch {
        0% {text-shadow: 7px 2px purple , -7px -2px aqua; transform: scale(1) translateY(0px);}
        12% {text-shadow: none;}
        25% {text-shadow: 9px 2px purple , -7px -2px aqua;transform: scale(1) translateY(-22px);}
        36% {text-shadow: 7px 2px purple , -7px -2px aqua; transform: scale(1.02) translateY(1px);}
        50% {text-shadow: 10px 2px purple , -7px -2px aqua; transform: scale(1.05) translateY(-3px);}
        62% {text-shadow: 7px 2px purple , -10px -2px aqua; transform: scale(1.02) translateY(0px);}
        75% {text-shadow: 6px 2px purple , -7px -2px aqua;transform: scale(1) translateY(0px);}
        88% {text-shadow: 7px 2px purple , -6px -2px aqua; transform: scale(1) translateY(0px);}
        100% {text-shadow: 7px 2px purple , -10px -2px aqua;transform: scale(1) translateY(0px);}
    }
    @keyframes glitch-flip {
       0% {text-shadow: 7px 2px purple , -7px -2px aqua; transform: scale(1) translateY(0px);}
        12% {text-shadow: none;}
        25% {text-shadow: 9px 2px purple , -7px -2px aqua;transform: scale(1) translateY(-22px);}
        36% {text-shadow: 7px 2px purple , -7px -2px aqua; transform: scale(1.02) translateY(-22px) rotateY(360deg);}
        50% {text-shadow: 10px 2px purple , -7px -2px aqua; transform: scale(1.05) translateY(0px);}
        62% {text-shadow: 7px 2px purple , -10px -2px aqua; transform: scale(1.02) translateY(0px);}
        75% {text-shadow: 6px 2px purple , -7px -2px aqua;transform: scale(1) translateY(1px);}
        88% {text-shadow: 7px 2px purple , -6px -2px aqua; transform: scale(1) translateY(3px);}
        100% {text-shadow: 7px 2px purple , -10px -2px aqua;transform: scale(1) translateY(0px);}
    }
    @keyframes glitch-s {
      0% {text-shadow: 4px 2px purple , -4px -2px aqua; transform: scale(1) translateY(0px);}
      12% {text-shadow: none;}
      25% {text-shadow: 4px 2px purple , -4px -2px aqua;transform: scale(1) translateY(-14px);}
      36% {text-shadow: 4px 2px purple , -4px -2px aqua; transform: scale(1.02) translateY(3px);}
      50% {text-shadow: 6px 2px purple , -4px -2px aqua; transform: scale(1.05) translateY(-3px);}
      62% {text-shadow: 4px 2px purple , -6px -2px aqua; transform: scale(1.02) translateY(0px);}
      75% {text-shadow: 4px 2px purple , -4px -2px aqua;transform: scale(1) translateY(0px);}
      88% {text-shadow: 4px 2px purple , -3px -2px aqua; transform: scale(1) translateY(0px);}
      100% {text-shadow: 4px 2px purple , -6px -2px aqua;transform: scale(1) translateY(0px);}
  }
    @keyframes lilg {
        0% {text-shadow: 2px 2px 5px purple , -1px -2px aqua;}
        12% {text-shadow: none;}
        25% {text-shadow: 2px 2px 5px purple , -1px -2px  aqua;}
        36% {text-shadow: 2px 2px 5px purple , -1px -2px aqua;}
        50% {text-shadow: 2px 2px 5px purple , -1px -2px  aqua;}
        62% {text-shadow: 2px 2px 5px purple , -1px -2px  aqua;}
        75% {text-shadow: 2px 2px 5px purple , -1px -2px  aqua;}
        88% {text-shadow: none;}
        100% {text-shadow: 2px 2px 5px purple , -1px -2px aqua;}
    }
    @keyframes header {
        0% {background-position: 0% 100%;}
        50% {background-position: 0% 0%;}
        100% {background-position: 0% 100%;}
    }
  a {
    text-decoration: none;
  }
  .clicker {
    visibility: hidden;
    opacity: 0.4;
    bottom: 14%;
    font-size: 5vmin;
    font-weight: bold;
    position: absolute;
    align-items: center;
    color: #fff;
    font-family: monospace;
    text-decoration: none;
  }
  @keyframes floating {
      from { transform: translate(0,  0px) rotate(-180deg); }
      65%  { transform: translate(0, 15px) rotate(-180deg); }
      to   { transform: translate(0, -0px) rotate(-180deg); }
  }
  @keyframes load-change {
    0% { opacity: 0; transform: scale(0.9);}
    100% { opacity: 1; transform: scale(1);}
  }
  @keyframes load-change-c {
    0% { opacity: 0; transform: scale(0.9) rotate(-180deg);;}
    100% { opacity: 0.4; transform: scale(1) rotate(-180deg);;}
  }
  @keyframes change-load {
    0% { opacity: 0;}
    10% { opacity: 1;}
    90% { opacity: 1; transform: scale(1);}
    100% { opacity: 0; transform: scale(0.8);}
  }
  
  /*SVG BORDER THING--------------------------------------------------------------------------*/
  /*SVG BORDER THING*//*SVG BORDER THING*//*SVG BORDER THING*//*SVG BORDER THING*//*SVG BORDER THING*//*SVG BORDER THING*/
  /*SVG BORDER THING*/
  /*SVG BORDER THING*/
  .lay-waves {
    opacity: 1;
    position: relative;
    aspect-ratio: 900/300;
    height: auto;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border:none;
  
  }
  /*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*/
  /*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*/
  /*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*/
  /*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*/
  /*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*//*Header*/
.header {
  opacity: 0.5;
  display: block;
  margin-top: 9px;
  padding: 6px;
  position: fixed;
  width: 99%;
  height:auto;
  background: transparent;
  font-size: 18px;
  z-index: 900;
}
.header-c {
float: right;
margin-left:9px;
margin-right:18px;
width:30px;
height:30px;
display: grid;
place-content: center;
place-items: center;
z-index:9; 
}
.header a {
  opacity: 0.5;
  display: none;
  position: absolute;
  cursor:none;
  padding: 3px;
  margin-top: 9px;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #fff;
  z-index:6;  
  animation: moveon 0.3s forwards; 
} 
.header a::after {
content: '';
position: absolute;
bottom:0;
left:0;
width:100%;
height:2px;
background: rgb(156, 156, 156);
transform-origin: center;
transform: scaleX(0);
transition: transform 0.2s ease-in;
}
.header a:hover::after {
transform: scaleX(1);
}
@keyframes moveon {
0% {transform: rotateY(-90deg); opacity: 0;}
100% {transform: rotateY(0deg); opacity: 0.5;}
}
@keyframes moveoff {
0% {transform: rotateY(0deg); opacity: 0.5;}
100% {transform: rotateY(90deg); opacity: 0;}
}
.hsvg {
  opacity: 0.5;
  position: relative;
  margin-top: 18px;
  margin-bottom: 9px;
  margin-left: 9px;
  margin-right: 9px;
  float: right;
  width:30px;
  height:30px;
  z-index:6;
  transition: 0.5s;
}
.hsvg-s {
opacity: 0.5;
position: relative;
margin-top: 18px;
margin-bottom: 9px;
margin-left: 9px;
margin-right: 9px;
float: right;
width:24px;
height:25px;
z-index:6;
transition: 0.5s;
}
.header-c:hover .header a {
  display: block;
  opacity: 1;
}
.header-c:hover .hsvg{
  transform: rotateY(90deg); opacity: 0;
}
.header-c:hover .hsvg-s{
  transform: rotateY(90deg); opacity: 0;
}


/*HAM NAV------------------------------------------------------------------------------------ */
/*HAM NAV                    |     |  |-----|   |\  /|                                       */
/*HAM NAV                    |-----|  |-----|   | \/ |                                      */
/*HAM NAV                    |     |  |     |   |    |                                     */
/*HAM NAV                    |     |  |     |   |    |                                    */
.dropbtn {
    display: none;
    margin-right: 25px;
    opacity: 0.5;
    float: right;
    width:40px;
    margin-top:18px;
    height:auto;
    position: relative;
    background: transparent;
    transition: 0.3s;
}
.hline {
    opacity: 0.5;
    margin-top: 6px;
    width:30px;
    height:5px;
    float: right;
    border-radius: 2px;
    background: #fff;
    transition: 0.25s;
}
/*github - mrgawp*/
.dropdown {
  width: auto;
  height: auto;
  right:0;
  position: fixed;
  display: block;
  z-index: 2;
}
.dropclose {
      display: none;
      position: fixed;
      margin-top:22px;
      right:18px;
      height:65px;
      width:55px;
      background-color: transparent;
      z-index: 300;
}
.dropdown:hover .dropclose{transform: rotate(-90deg) translateY(50px) translateX(10px);}
.dropdown-content {
  opacity: 0.5;
  display: none;
  margin-top:60px;
  padding-top: 30px;
  position: relative;
  background-color: transparent;
  text-align: right;
  width: auto;
  height: auto;
  transition: 1s;
  padding-bottom: 50px;
}
.dropdown-content a {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12.5px;
  opacity: 0;
  padding: 9px 18px;
  margin-bottom: 5px;
  text-decoration: none;
  position: relative;
  display: block;
  font-weight: bolder;
}
 /*hello human reading my css*/
.dropdown-content a::after{
  content: '';
  position: absolute;
  bottom:0;
  left:0;
  width:83%;
  height:2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
  }
  .dropdown-content a:hover::after {
    transform: scaleX(0.82);
  }
  
  .dropclose {
    display: none;
    position: fixed;
    margin-top:22px;
    right:18px;
    height:38px;
    width:40px;
    background-color: transparent;
    z-index: 300;
  }
  .dropdown:hover .dropclose{transform: rotate(-90deg) translateY(50px) translateX(10px);}

.hline:nth-child(1){transition-delay: 0.1s;}
.hline:nth-child(2){transition-delay: 0.2s;}
.hline:nth-child(3){transition-delay: 0.3s;}

.dropdown-content a:nth-child(1) {animation: link 1s forwards; animation-delay: 0.4s;}
.dropdown-content a:nth-child(2) {animation: link 1s forwards; animation-delay: 0.5s;}
.dropdown-content a:nth-child(3) {animation: link 1s forwards; animation-delay: 0.6s;}
.dropdown-content a:nth-child(4) {animation: link 1s forwards; animation-delay: 0.7s;}

  .dropdown:hover .hline:nth-child(1) {width: 30px;}
  .dropdown:hover .hline:nth-child(2) {width: 35px;}
  .dropdown:hover .hline:nth-child(3) {width: 40px;}
.dropdown:hover .dropbtn {transform: rotate(-90deg) translateY(10px) translateX(-10px);}
@keyframes link {
0% {opacity: 0; transform: scale(1);}
50% {opacity: 0.5; transform: scale(1.1);}
100% {opacity: 0.5; transform: scale(1);}
}
@keyframes linkoff {
from {opacity: 0.5;}
to {opacity: 0; transform: translateX(40px);}
}
@media screen and (max-width:850px) {
  .dropbtn {display: block;} 
  .header {display: none;}
}
  /*SECTIONS-------------------------------------------------------------------------------------------------------------------------------------------------------*/
  /*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*/
  /*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*/
  /*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*/
  /*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*/
  /*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*/
  /*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*/
  /*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*/
  /*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*//*SECTIONS*/
  /*SECTIONS*/
  .sec1{
    width:100%;
    height: 400px;
    background:#131313;
    opacity: 1;
    margin: auto;
    z-index:3;
  }
  
  